.BoardBox{
    width: 600px; 
    height: 600px; 
    text-align: center;
    font-size: 10px;
    border: black thin solid;
    align-items: center;
    margin-top: 60px;
}

.Row {
    display: flex;
}

.YellowCell{
    width: 30px;
    height: 30px;
    background-color: #FFD700;
    border: black thin solid;
}
.OrangeCell{
    width: 30px;
    height: 30px;
    background-color: #FFA500;
    border: black thin solid;
}
.WhiteCell{
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border: black thin solid;
}
.RedCell{
    width: 30px;
    height: 30px;
    background-color: #a52a2a;
    border: black thin solid;
    text-align: center;
}